<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../../css/materialize.min.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="../../css/estilo.css" media="screen,projection" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8">
    <title>login</title>
</head>

<body>
    <div class="container center">
        <br>
        <img src="../../imagens/IFB.png" alt="" class="responsive-img " width="64" height="64">
        <br>
        <div class="row">
            <div class="input-field col s12">
                <input id="nome" type="text" class="validate">
                <label for="nome">Nome ou Email</label>
            </div>
            <div class="input-field col s12">
                <input id="senha" type="password" class="validate">
                <label for="senha">Digite sua senha</label>
            </div>
            <div class="col s12">
               <a href="registro.html" class="left">Ainda não tem conta ?</a> 
            </div>
            <div class="col s12">
                <br>
                <a href="" class="btn blue darken-1">Entrar</a>
            </div>
        </div>
        <div class="divider"></div>
        <br>
        <a href="" class="btn" style="background-color: #cc3732">Entrar com google+&nbsp;</a>
        <br>
        <br>
        <a href="" class="btn" style="background-color: #3B5998">Entrar com facebook</a>
    </div>
    <footer class="page-footer white">
            <div class="container center grey-text">
                © 2018 lab app
            </div>
        </footer>    
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../../js/materialize.min.js"></script>
    <script type="text/javascript" src="../../js/funcao.js"></script>
    <script type="text/javascript" src="../../js/pace.min.js"></script>
</body>

</html>