<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="../../css/materialize.css" media="screen,projection" />
  <link type="text/css" rel="stylesheet" href="../../css/estilo.css" media="screen,projection" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta charset="UTF-8">
  <title>nome matéria</title>
</head>

<body>
  <!-- barra de navegação -->
  <nav style="box-shadow: 0px 0px ">
    <div class="nav-wrapper white">
      <a href="#!" class="brand-logo black-text truncate center">nome matéria</a>
      <a href="../../index.html" class="sidenav-trigger">
        <i class="material-icons black-text">arrow_back</i>
      </a>
    </div>
  </nav>
  <!-- corpo do site -->
  <div class="container">
    <h5 class="blue-text">Questão 00</h5>
    <p class="grey-text">nível médio</p>
    <br>
    <p class="flow-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur condimentum, libero in posuere hendrerit, massa leo finibus
      dolor, id consectetur est arcu eu dui. Vivamus leo arcu, volutpat id sem eu, luctus ultrices diam.
    </p>
    <div class="row">
      <a href="#" class="black-text">
        <div class="col s12">
          <div class="card-panel hoverable">
            <span class="flow-text">Questão 1</span>
          </div>
        </div>
      </a>
      <a href="#" class="black-text">
        <div class="col s12">
          <div class="card-panel hoverable">
            <span class="flow-text">Questão 2</span>
          </div>
        </div>
      </a>
      <a href="#" class="black-text">
          <div class="col s12">
            <div class="card-panel hoverable">
              <span class="flow-text">Questão 3</span>
            </div>
          </div>
        </a>
        <a href="#" class="black-text">
          <div class="col s12">
            <div class="card-panel hoverable">
              <span class="flow-text">Questão 4</span>
            </div>
          </div>
        </a>
      <p class="center">questões erradas/certas</p>
      <a href="#" class="black-text">
        <div class="col s12">
          <div class="card-panel hoverable green darken-1 white-text">
            <span class="flow-text">Questão 3</span>
            <span class="flow-text">
              <i class="material-icons right">check</i>
            </span>
          </div>
        </div>
      </a>
      <a href="#" class="black-text">
        <div class="col s12">
          <div class="card-panel hoverable red darken-1 white-text">
            <span class="flow-text">Questão 4</span>
            <span class="flow-text">
              <i class="material-icons right">close</i>
            </span>
          </div>
        </div>
      </a>
      <p class="center">ou</p>
      <a href="#" class="black-text">
          <div class="col s12">
            <div class="card-panel hoverable green darken-1 white-text">
              <span class="flow-text">Questão 3</span>
              <span class="flow-text">
                <i class="material-icons right">thumb_up</i>
              </span>
            </div>
          </div>
        </a>
        <a href="#" class="black-text">
          <div class="col s12">
            <div class="card-panel hoverable red darken-1 white-text">
              <span class="flow-text">Questão 4</span>
              <span class="flow-text">
                <i class="material-icons right">thumb_down</i>
              </span>
            </div>
          </div>
        </a>      
      <h5 class="blue-text text-darken-1 center">Resposta !</h5>
      <p class="flow-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur condimentum, libero in posuere hendrerit, massa leo finibus
        dolor, id consectetur est arcu eu dui. Vivamus leo arcu, volutpat id sem eu, luctus ultrices diam.
      </p>
      <br>
      <div class="center">
        <a class="waves-effect waves-light btn blue darken-1" href="resultado.html">ver resultado !</a>
      </div>
    </div>
  </div>
  <footer class="page-footer white">
    <div class="container center grey-text">
      © 2018 lab app
    </div>
  </footer>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="../../js/materialize.min.js"></script>
  <script type="text/javascript" src="../../js/funcao.js"></script>
  <script type="text/javascript" src="../../js/pace.min.js"></script>
</body>

</html>